SETUP_STACK_VERSION=9.3.2
ES01_VERSION=9.3.2
KIBANA_VERSION=9.3.2
#
LICENSE=trial
#
ELASTIC_PASSWORD=*-set-password-*
KIBANA_PASSWORD=*-set-password-*
#
SAVEDOBJECTS_ENCRYPTIONKEY=min-32-byte-long-NEW-encryption-key
#
I18N_LOCALE=en-US
#I18N_LOCALE=js-JP
#
ES_PORT=127.0.0.1:9200
KIBANA_PORT=5601
#
CLUSTER_NAME=docker-cluster-eis-202603
#
# メモリサイズは環境に合わせて調整してください。
ES01_MEM_LIMIT=20000000000
KIBANA_MEM_LIMIT=1400000000
