STACK_VERSION = 9.3.3
AUTOOPS_VERSION = 9.3.2

LICENSE = basic

ES_PORT = 9200
KIBANA_PORT = 5601

CLUSTER_NAME = docker-cluster-autoops-202604

ELASTIC_PASSWORD=*-set-password-*
KIBANA_PASSWORD=*-set-password-*

SAVEDOBJECTS_ENCRYPTIONKEY=min-32-byte-long-NEW-encryption-key


# メモリサイズは環境に合わせて調整してください。
MEM_LIMIT = 1073741824

# -------------------------

# Self-Managed の Elasticsearch で発行した key
AUTOOPS_ES_API_KEY=Self-Managed の Elasticsearch で発行した key

# -------------------------

# AutoOps の設定画面からコピーする
AUTOOPS_OTEL_URL=AutoOps の設定画面からコピーする

# AutoOps の設定画面からコピーする
AUTOOPS_TOKEN=AutoOps の設定画面からコピーする

# AutoOps の設定画面からコピーする
ELASTIC_CLOUD_CONNECTED_MODE_API_KEY=AutoOpsの設定画面からコピーする

# AutoOps の設定画面からコピーする
AUTOOPS_TEMP_RESOURCE_ID=AutoOpsの設定画面からコピーする

# -------------------------

AUTOOPS_ES_URL=https://es01:9200

AUTOOPS_ES_CA=/usr/share/elastic-agent/certs/ca/ca.crt

