SETUP_STACK_VERSION=9.2.4
ES01_STACK_VERSION=9.2.4
KB_STACK_VERSION=9.2.4
#
ELASTIC_PASSWORD=***ELASTIC_PASSWORD***
KIBANA_PASSWORD=***KIBANA_PASSWORD***
#
LICENSE=basic
#
SAVEDOBJECTS_ENCRYPTIONKEY=min-32-byte-long-NEW-encryption-key
# REPORTING_ENCRYPTIONKEY=
# SECURITY_ENCRYPTIONKEY=
#
I18N_LOCALE=en-US
#
ES_PORT=127.0.0.1:9200
KIBANA_PORT=5601
#
CLUSTER_NAME=docker-cluster
#
ES01_MEM_LIMIT=6000000000
KB_MEM_LIMIT=2000000000
