STACK_VERSION = 9.4.0

LICENSE = trial

ES_PORT = 9200
KIBANA_PORT = 5601

CLUSTER_NAME = docker-cluster-audit-logging-202605

ELASTIC_PASSWORD=*-set-password-*
KIBANA_PASSWORD=*-set-password-*

SAVEDOBJECTS_ENCRYPTIONKEY=min-32-byte-long-NEW-encryption-key


# メモリサイズは環境に合わせて調整してください。
ES01_MEM_LIMIT = 2147483648
KB_MEM_LIMIT = 1073741824

